@model MvcBookStore.Models.SACH

@{
    ViewBag.Title = "Chitietsach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>THÔNG TIN CHI TIẾT SÁCH</h3>
<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sách:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>
        <dt>
            Giá bán:
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>
        <dt>
            Mô tả: 
        </dt>
        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt>
            Ảnh bìa:
        </dt>
        <dd>
            <img src="@Url.Content("~/Hinhsanpham/"+  Model.Anhbia)" width="120px" />
        </dd>
        <dt>
            Ngày cập nhất:
        </dt>
        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat) VNĐ
        </dd>


        <dt>
            Số lượng tồn:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>
        <dt>
            Chủ đề:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>
        <dt>
            Nhà xuất bản:
        </dt>
        <dd>
           @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU CHỈNH", "Suasach", new { id = Model.Masach }) |
    @Html.ActionLink("TRỞ VỀ", "Sach")
</p>
