@model ElectronicStore.Models.NhanVien

@{
    ViewBag.Title = "ChiTietNV";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<h2>ChiTietNV</h2>

<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal" style="color:white">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            <p>*********************</p>
            @*@Html.DisplayFor(model => model.Password)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCV)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.MaNV })" rel="tooltip" data-placement="left" title="Sửa" class="btn btn-success btn-simple">
        <i class="material-icons">edit</i>
    </a>
    <a href="@Url.Action("NhanVien", new { id = Model.MaNV })" rel="tooltip" data-placement="left" title="Back To List" class="btn btn-success btn-simple">
        <i class="fa fa-sign-out"></i>
    </a>
</p>